# Web scraping
requests
beautifulsoup4
selenium
mechanicalsoup
webdriver-manager

# Data analysis
pandas
matplotlib

# Natural language processing
nltk
sentence-transformers

# Machine learning & clustering
scikit-learn

#Visualization
geopandas
umap-learn
